* {
    background: #0f0f0f;
    font-family: Iosevka;
    color: white;
}

.bar {
    background: #264653;
    width: 20em;
    height: 2em;
    margin: 1em;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bar .bar-inner {
    background: #2a9d8f;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    transition: width 0.1s;
}

.bar label {
    z-index: 10;
    background: transparent;
}
